AWS_REGION=us-east-1
DYNAMODB_TABLE=cloudcrowd-occupancy
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=cloudcrowd/telemetry
MQTT_CLIENT_ID=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_KEEPALIVE=60
MQTT_QOS=1
MQTT_RETAIN=false
MQTT_TLS=false
FACILITY_ID=facility-1
AWS_IOT_ENDPOINT=
AWS_IOT_PORT=8883
AWS_IOT_CLIENT_ID=
AWS_IOT_TOPIC=cloudcrowd/telemetry
AWS_IOT_CA_PATH=
AWS_IOT_CERT_PATH=
AWS_IOT_PRIVATE_KEY_PATH=
AWS_IOT_KEEPALIVE=60
